body {
    background-color: #343a40;
    color: white;
    font-family: monospace;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


#title {
    line-height: 10px;
    
}

h1 {
    font-size: 40px;
}

h1:hover {
    color: rgb(14, 111, 201);
    transition: 0.3s all;
}

h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;

}

li {
    display: flex;
    margin: 20px;
    font-size: 20px;
}

a {
    color:white
}

a:hover{
    color: rgb(14, 111, 201);
    transition: 0.3s all;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    padding: 30px;
}

img {
    width: 500px;
}



#bemvindo{
    margin-top: 110px;
    font-size: 40px;
}

main {
    display: flex;
    justify-content: center;
}



article {
    position: relative;
    left: calc(100%/8);
}

input {
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    padding: 8px;
}


form {
    position: relative;
    margin: auto;
}

#submit {
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 50px;
    background-color: #3A3A63;
    color: white;
}

footer {
    border-top: 1px solid #f1f1f13b;
    margin-top: 50px;
    font-size: 14px;
    text-align: center;
    position: relative;
/*     margin-top: +300px; */
}

#main_autor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 150px;
}

#titulo_autor{
    font-size: 40px;

}

#imagem_autor{
    border-radius: 50%;
    height: 40%;
    width: 40%;   
}

#texto_autor {
    font-size: 160%;
    text-align: justify;
    margin-left: 30px;
}
